{
  "name": "linebot_BL",
  "version": "1.0.0",
  "description": "",
  "main": "index.js",
  "scripts": {
    "start": "node ."
  },
  "author": "",
  "license": "ISC",
  "linebot_config": {
   "channelId":"1573379381",
   "channelSecret":"8d3aadeca6c37b71e39892484539f958",
   "channelAccessToken":"b6fkRSPWqm369nE4D3TJKe4MQuJZ5pCo/GKaGG7r7Ix09aJffUmFW0+o9KBkQHYw8QG+oWMipmY27Mt1TNejDvaq5u6p7f1uZy3XyvpKJ52lX33crz5XcOv1z804I0USMvHz8AbzA6FqTMnnHVlKMAdB04t89/1O/w1cDnyilFU="
  },
  "imgur_config":
  {
    "host_name":"api.imgur.com",
    "path":"/3/account/me/images/",
    "headers":{ "Authorization": "Bearer 579e1687e431da1eabc35bf32c7634e2a49283bf" },
    "method":"GET"
  }
}