{
  "name": "linebot",
  "version": "1.0.0",
  "description": "",
  "main": "index.js",
  "scripts": {
    "start": "node ."
  },
  "author": "",
  "license": "ISC",
  "linebot_config": {
   "channelId":"1653871733",
   "channelSecret":"29d3ebfa78bea3d2e6c32d138b61d07e",
   "channelAccessToken":"hbC/R50P5zqkBAlxqqcrtmKV2N8hx6HTT3LutncFo32b2yONZH6Yw/4+yez7fBRXsbphzURbjcuftd4VdnBBom3go8TLw0vTsPNVxMKJBl8lowdYi7inIQffsaWyAJ8rwivESckV1RHIcHAgRPREvAdB04t89/1O/w1cDnyilFU="
  },
  "imgur_config":
  {
    "host_name":"api.imgur.com",
    "path":"/3/account/me/images/",
    "headers":{ "Authorization": "Bearer 579e1687e431da1eabc35bf32c7634e2a49283bf" },
    "method":"GET"
  }
}