{
  "name": "linebot",
  "version": "1.0.0",
  "description": "",
  "main": "index.js",
  "scripts": {
    "start": "node ."
  },
  "author": "",
  "license": "ISC",
  "linebot_config": {
   "channelId":"1653872634",
   "channelSecret":"877ebb4c929a4803a16a285cc70c1a2e",
   "channelAccessToken":"lUhw//15buXGgwuZfUEEKeq8raNTgmDe/z6xu/e0SCkdA7+xC1TlqqN2EPtcVMtOJjb22U915Q5wOTOaCAk3RliWFUIS+B9jeK971h61EQcMv80rz+ymusFkuLlwCunnnlkybiJE/wRc5uUjIReWfAdB04t89/1O/w1cDnyilFU="
  },
  "imgur_config":
  {
    "host_name":"api.imgur.com",
    "path":"/3/account/me/images/",
    "headers":{ "Authorization": "Bearer 6edc098826e834b02e5367e1e343b7c463e93b2d" },
    "method":"GET"
  }
}